<div class="container">
      <li
    class="list-group-item"
    style="margin-bottom: 10px"

    *ngIf="item && item.is_delete != true"
  >
    <Strong>{{ item.title }}</Strong>
    <span class="pull-right text-info">{{ item.status }}</span>
    <hr />
    {{ item.description }}
    <img src="{{ item.img }}"  style="object-fit: cover; width: 100%; height: 300px;" />
    <!-- <div class="row mt-2" style="padding-top: 10"> -->

        <button
          class="btn btn-primary btn-block "
          type="button"
          (click)="edit()"
        >
        Edit Image
        </button>


        <!-- <button
          class="btn btn-info btn-block"
          type="button"
          (click)="changeStatus()"
        >
          Change Status
        </button> -->


        <button
          class="btn btn-danger btn-block"
          type="button"
          (click)="delete()"
        >
          Delete Item
        </button>

    <!-- </div> -->
  </li>
</div>
